[submodule "pciids"]
	path = pciids
	url = https://github.com/pciutils/pciids
[submodule "usbids"]
	path = usbids
	url = https://github.com/usbids/usbids
[submodule "iptsd"]
	path = iptsd
	url = https://github.com/android-generic/iptsd
